.transform-clockwise {
  transform: rotateX(50deg) rotateZ(20deg);
}

.transform-anticlockwise {
  transform: rotateX(50deg) rotateZ(-70deg);
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 140rem;
  transform: rotateX(50deg) rotateZ(20deg);
  aspect-ratio: 1;
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(40, 1fr);
}

.container:after,
.container:before {
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
}

.container:before {
  z-index: 2;
  background-image: url("/plus-pattern-center.webp");
  background-size: 5%;
  background-repeat: repeat;
  opacity: 0.25;
}

@media screen and (max-width: 1024px) {
  .container {
    transform: rotateX(50deg) rotateZ(20deg) translateX(-275px);
  }
}

.tile {
  box-sizing: border-box;
  border: 1px solid var(--divider);
  transition: all 1500ms;
}

.tile:hover {
  transition-duration: 0ms;
  transform: rotateX(180deg);
  background-color: var(--primary);
}

/* 
.tile:nth-child(4n):hover {
  background-color: rgb(var(--red-rgb));
}

.tile:nth-child(4n + 1):hover {
  background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(4n + 2):hover {
  background-color: rgb(var(--green-rgb));
}

.tile:nth-child(4n + 3):hover {
  background-color: rgb(var(--yellow-rgb));
}

.tile:nth-child(7n):hover {
  background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(7n + 3):hover {
  background-color: rgb(var(--green-rgb));
}

.tile:nth-child(7n + 5):hover {
  background-color: rgb(var(--yellow-rgb));
}

.tile:nth-child(7n + 6):hover {
  background-color: rgb(var(--red-rgb));
}

.tile:nth-child(11n + 1):hover {
  background-color: rgb(var(--red-rgb));
}

.tile:nth-child(11n + 4):hover {
  background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(11n + 7):hover {
  background-color: rgb(var(--green-rgb));
}

.tile:nth-child(11n + 10):hover {
  background-color: rgb(var(--yellow-rgb));
} */
